/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
	padding-top: 40px;
	background-image: url('woodbg.jpg');
	background-repeat: none;
	background-position: fixed;
}

.content{
	margin-top:25px;
	background-color: #fff;

	
}
.alert {
	margin-top: 10px;
}


.lesson{
	height: auto;
	border: 1px solid #ccc;
	margin: 10px;
	margin-bottom: 0px;
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	padding: 15px;
	opacity: .50;
	background-color: #fff;
}

.video{
	height: auto;
	width: auto;
	border: 1px solid #ccc;
	border-top: 0px;
	-moz-box-shadow: 0 0 3px #ccc;
	-webkit-box-shadow: 0 0 3px #ccc;
	box-shadow: 0 0 3px #ccc;
	margin-bottom: 10px;
	background-color: #222;
	padding: 15px;
}

.hover{
	box-shadow: 0px 0px 6px #ccc;
}

.logo {
	width:200px;
	height: 25px;
	background-image: url('logo.png');
	background-size: cover;
}


.nav-pills li{
	margin-top: 5px;
}

.nav-pills li:hover, li:focus{
	box-shadow: 0px 0px 5px #222;
	background-color: #c48727;
}

#buttons{

	padding: 15px;
}
#searchContainer {
	background-color: #222;
}

.bg {

}